.form {
  margin: auto;
  width: 60%;
  text-align: center;
}

.input {
  padding: 5px;
  margin: 5px;
}

.button {
  margin: 20px 5px;
  border-radius: 8px;
  font-size: 25px;
  padding: 10px 20px;
  font-weight: 700;
}

p {
  font-size: 18px;
}
